# Run this first to download test data

In [ ]:
import requests

url = "https://hds5210-data.s3.amazonaws.com/visits.csv"
filename = "visits.csv"

response = requests.get(url)
with open(filename, "wb") as file:
  file.write(response.content)

url = "https://hds5210-data.s3.amazonaws.com/negotiated_rates.json"
filename = "negotiated_rates.json"

response = requests.get(url)
with open(filename, "wb") as file:
  file.write(response.content)

# Creating Pandas dataframes

In [ ]:
import pandas as pd

In [ ]:
names = [
    ['Paul','Boal','E'],
    ['Eric','Westhus','D'],
    ['Bill','Jones','A']
    ]

In [ ]:
pd.DataFrame(names)

In [ ]:
pd.DataFrame(names, columns=['first','last','middle'])

In [ ]:
data = pd.DataFrame(names, columns=['first','last','middle'])

In [ ]:
data['first']

In [ ]:
data.size

In [ ]:
first_names = ['Paul','Eric','Bill']
middle_names = ['E','D','A']
last_names = ['Boal','Westhus','Jones']

In [ ]:
list(zip(first_names, middle_names, last_names))

In [ ]:
pd.DataFrame(list(zip(first_names, middle_names, last_names)), columns=['first','middle','last'])

In [ ]:
people = [
    { 'first': 'Paul', 'last': 'Boal', 'middle': 'E' },
    { 'first': 'Eric', 'last': 'Westhus', 'middle': 'D'},
    { 'first': 'Bill', 'last': 'Jones', 'middle': 'A'}
]

In [ ]:
pd.DataFrame(people)

In [ ]:
people = [
    { 'first': 'Paul', 'last': 'Boal', 'middle': 'E' },
    { 'first': 'Eric', 'last': 'Westhus', 'middle': 'D'},
    {  'last': 'Jones', 'first': 'Bill'}
]

In [ ]:
pd.DataFrame(people)

In [ ]:
import pandas as pd
people = [
    { 'first': 'Paul', 'last': 'Boal', 'middle': 'E' },
    { 'first': 'Eric', 'last': 'Westhus', 'middle': 'D'},
    { 'first': 'Bill', 'last': 'Jones', 'middle': 'A'},
    { 'first': 'Walter', 'last': 'Cronkite'},
    { 'first': 'Eddie', 'last': 'Murphy'},
    { 'first': 'Cher'}
]
pd.DataFrame(people)

In [ ]:
visits = pd.read_csv('visits.csv')

In [ ]:
visits

In [ ]:
len(visits)

In [ ]:
visits.shape

In [ ]:
visits['PATIENT_AGE'].mean()

In [ ]:
visits.dtypes

In [ ]:
pd.read_json('negotiated_rates.json')

In [ ]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_proper_by_population_density')

In [ ]:
len(dfs)

In [ ]:
dfs[0]

In [ ]:
dfs[1]

In [ ]:
dfs[2]