# Text

The objective for this part of the lecture is to explain how Python represents strings and how they can be used.

* What is a string
* How to manipulate and parse strings
* Printing out strings

In [ ]:
"Dr. James"

In [ ]:
dr='Dr. James'
dr

In [ ]:
'Dr. James' + 1

In [ ]:
'Dr. James' + str(1)

In [ ]:
'Dr. James' + ' and spouse'

In [ ]:
'Dr. James\'s spouse'

In [ ]:
"Dr. James's spouse"

In [ ]:
len('Dr. James')

In [ ]:
len('Dr. James\'s Spouse')

In [ ]:
len("Dr. James's Spouse")

In [ ]:
dr = 'Dr. James\'s "Spouse"'

In [ ]:
dr

In [ ]:
"Dr. James's \"Spouse\""

In [ ]:
print(dr)

In [ ]:
len(dr)

In [ ]:
seq = 'AGCCGAC'
seq[5]

In [ ]:
# [start_position:up_until_but_not_including]
# First character is in position 0
seq[5:8]

In [ ]:
start_position=0
number_of_characters=5
seq[start_position:start_position+number_of_characters]

In [ ]:
txt = '''This
string
is
on
multiple
lines'''

In [ ]:
txt

In [ ]:
print(txt)

In [ ]:
len(txt)

In [ ]:
txt2 = 'This\nstring\nis\non\nmultiple\nlines'

In [ ]:
print(txt2)

In [ ]:
tbl = "a1\ta2\nb10\tb2"
print(tbl)

# Parts of strings

In [ ]:
name = "Paul E. Boal"

`[]` is used to "slice" a string

```
a[start:end] # items start through end-1
a[start:]    # items start through the rest of the array
a[:end]      # items from the beginning through end-1
a[:]         # a copy of the whole array
```

If `start` or `end` is a negative number, then it means that many characters from the end of the string.

In [ ]:
len(name)

In [ ]:
name[0]

In [ ]:
name[0:4]

In [ ]:
name[-4:]

In [ ]:
name[5:]

In [ ]:
print(name)

In [ ]:
name.find(' ')

In [ ]:
name[:name.find(' ')]

In [ ]:
name[name.find(' ')+1:]

In [ ]:
pos_of_middle_name = name.find(' ') + 1
middle_and_last = name[pos_of_middle_name:]
middle_and_last

In [ ]:
# Position of the middle name is up to the first space
pos_of_middle_name = name.find(' ') + 1

middle_and_last = name[pos_of_middle_name:]

# Position of the last name is the position of the first space after the end of the first name
pos_of_last = middle_and_last.find(' ') + 1

middle_and_last[pos_of_last:]

In [ ]:
name

In [ ]:
name.split(' ')

# Converting text to numbers

In [ ]:
int('45')

In [ ]:
float('45.12')

In [ ]:
int('45.12')

In [ ]:
score='45.12'
type(score)

In [ ]:
int(score[:score.find('.')])

In [ ]:
int('1b')

In [ ]:
int('a',base=16)

In [ ]:
float('10.3 + 4')

In [ ]:
a="14.5"
float(a)

## Printing text

In [ ]:
# "new" style formatting
a = float(a)
print('Put a formatted number here: {:.2f}'.format(a))

In [ ]:
# "new" style formatting
def print_numbers(a,b):
    return 'Here is {:d} and here is {:d}'.format(a,b)

In [ ]:
print(print_numbers(1,2))

See https://docs.python.org/3/library/stdtypes.html#printf-style-string-formatting for a good reference on formatting.

In [ ]:
physician = 'Dr. James'
patient = 'Jane Doe'
diagnosis = 'Right Ulnar Fracture'
print(physician, patient, diagnosis, sep=' ')

## Splitting Strings

In [ ]:
names="Paul,Sarahlynn,Ellie,Ada,Teddy"

In [ ]:
names.split(',')

In [ ]:
names="Paul, Sarahlynn, Ellie, Ada, Teddy"

In [ ]:

names.split(',')

In [ ]:
names.split(', ')

## Find the Nth Occurrence of a String

In [ ]:
our_string = "love is love is love is love"

In [ ]:
first_love = our_string.find("love")
first_love

In [ ]:
second_love = our_string.find("love", first_love+1)
second_love

In [ ]:
third_love = our_string.find("love", second_love+1)
third_love

In [ ]:
def find_nth(str_to_search, for_str, nth):

    start = 0
    for i in range(1, nth+1):
        pos = str_to_search.find(for_str, start)
        if pos == -1:
            return -1
        else:
            start = pos+1

    return pos

In [ ]:
find_nth(our_string, "love", 4)

In [ ]:
find_nth(our_string, "is", 1)

In [ ]:
for n in range(1,10):
    pos = find_nth(our_string, "love", n)
    print(pos)

In [ ]:
def find_nth(str_to_search, for_str, nth, base=0):

    first = str_to_search.find(for_str)
    #print(nth, str_to_search)

    if first == -1 and nth == 1:
        return -1
    elif nth == 1:
        return first + base
    else:
        return find_nth(str_to_search[first+1:], for_str, nth-1, base+first+1)

In [ ]:
for n in range(1,10):
    pos = find_nth("love is love is love is love", "love", n)
    print(pos)