<a href="https://colab.research.google.com/github/michael-groner/HDS5210-02-Assignments/blob/main/Week04/examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

## Creating a list

In [ ]:
empty_list = [] # Empty list
number_list = ['one', 'two', 'three']

print(empty_list)
print(number_list)

## Selecting values in a list

**Remember, the first position in the list has the index 0**

In [ ]:
number_list = ['one', 'two', 'three']

print(number_list[0])
print(number_list[2])

## Using a negative index counts backwards thorugh the list

In [ ]:
number_list = ['one', 'two', 'three']

print(number_list[-1])
print(number_list[-3])

## Changing values in a list

In [ ]:
number_list = ['one', 'two', 'three']

number_list[1] = 'Michael'
print(number_list)

## Adding an item to a list

In [ ]:
number_list = ['one', 'Michael', 'three']

number_list.append('four')
print(number_list)

## Remove a specific value from a list

**NOTE: This only works on the first list element with the given value**

In [ ]:
fruits = ['apple', 'bannana', 'orange', 'bannana']
fruits.remove('bannana')
print(fruits)

## Remove a position from a list

In [ ]:
number_list = ['one', 'Michael', 'three', 'four']

number_list.pop(1)
print(number_list)

## Get the length of a list

In [ ]:
number_list = ['one', 'three', 'four']

size = len(number_list)

print(f'The size of the list is {size}')

## Adding lists together

In [ ]:
number_list = ['one', 'three', 'four']
new_list = ['five','six']

number_list = number_list + new_list

print(number_list)

## Test if an element is in a list

In [ ]:
number_list = ['one', 'three', 'four', 'five', 'six']

if 'two' in number_list:
  print('The list contains the element \'two\'')
else:
  print('The list does not contain the element \'two\'')

## Looping over lists

In [ ]:
fruits = ['apple', 'bannana', 'orange']

for fruit in fruits:
  print(fruit)

## Copy a list

In [ ]:
list1 = ['a','b','c']
list2 = list1 # Make 'list2' point to the same list as 'list1'
list1[0] = 'd'
print(f"list 1: {list1}")
print(f"list 2: {list2}")

list3 = ['d', 'e', 'f']
list4 = list3[:]
list3[0] = 'g'
print(f"list 3: {list3}")
print(f"list 4: {list4}")

## Slicing a list - return only portions of a list

list[START:END] - returns a copy of the list from index START up to, but not including, END

list[START:] - returns a copy of the list from index

list[:END] - returns a copy of the list from the begining up to, but not including, the index END

list[:] - returns a copy of the list

In [ ]:
number_list = [0,1,2,3,4,5,6]

print(number_list[1:4])
print(number_list[2:])
print(number_list[:3])
print(number_list[:])

Similar to indecies, you can use negative values to slice backwards through a list

In [ ]:
number_list = [0,1,2,3,4,5,6]

print(number_list[:-2])

## Lists of lists

An element can be its own list

In [ ]:
name1 = ['Michael', 'Groner']
name2 = ['George', 'Smith']

names = [name1, name2]

print(names)

## Reference an element in a list, which is in a list

In [ ]:
first_name_of_first_person_in_list = names[0][0]

print(first_name_of_first_person_in_list)

## Sort a list

In [ ]:
list1 = [ 3, 4, 1, 9, 7]

list2 = sorted(list1)

# Note that list1 is not sorted because the built-in function `sorted()` was used
print(list1)
print(list2)

# Note: list1 is now sorted because the `.sort()` command on the list was used
list1.sort()
print(list1)

# Exercise 1

Loop over the names in the list below and print out "`FirstName` is a `LastName`"

In [ ]:
names = [['Michael', 'Johnson'],
         ['Emily', 'Davis'],
         ['James', 'Wilson'],
         ['Sarah', 'Smith']]

# BEGIN SOLUTION HERE

# END SOLUTION HERE

# Exercise 2

Can you print out 'FirstName LastName', but in alphabetical order of last name?

**NOTE: This takes more than one command and one step to implement**

In [ ]:
names = [['Michael', 'Johnson'],
         ['Emily', 'Davis'],
         ['James', 'Wilson'],
         ['Sarah', 'Smith']]

# BEGIN SOLUTION HERE

# END SOLUTION HERE

# Range

`range()` can be used three ways

`range(STOP)` counts from 0 up to, but not including, the value of STOP
* 'range(START, STOP)' counts from the value of START (including START) up to, but not including, the value of STOP
* 'range(START, STOP, STEP)' counts from the start value to, but not including, the STOP value

In [ ]:
for i in range(10):
  print(i)

`range(START, STOP)` counts form the value of START (including START) up to, but not including the value of STOP

In [ ]:
for i in range(1, 10):
  print(i)

`range(START, STOP, STEP)` counts from the value of START (including START) up to, but not including, STOP by the value of STEP

In [ ]:
for i in range(2,20,2):
  print(i)

'range()' can take negative values in STEP

In [ ]:
for i in range(10, 1, -1):
  print(i)

If you give range imposible values, it will have no value and skip the loop

In [ ]:
for i in range(10, 1, 1):
  print(i)

# Exercise 3

Create a list of all the integers from 1 to 100 (including 100) using `range()`

# Tuples

Tuples are similar to lists, but once the tuple is created, it cannot be changed!

In [ ]:
names = ('Michael', 'Sam')

print( names )

## Tuples cannot be altered

In [ ]:
names = ('Michael', 'Sam')

print( names ) # You can print a tuple similar to a list

print( names[0]) # You can reference elements of a tuple similar to a list

print(sorted(names)) # You can use the built-in sorted function to create a list of sorted elements of the tuple

try:
    names[1] = 'George'  # This will fail because you cannot change elements of a tuple
except:
    print("Cannot change elements within a tuple")

### When have we used tuples?

In [ ]:
name = {'First' : 'Michael', 'Last' : 'Groner'}

for x in name.items():
  print(x)

# Sets

Sets are similar to lists, but each set can only have each value saved one time!

## Create a set

In [ ]:
# Create an empty set
empty_set = set()
print(f'{empty_set}')

# Create a set from values
set_of_names = {'Michael', 'George', 'Jeffrey'}
print(f"{set_of_names}")

# Create set from a list
numbers = [1, 2, 3, 4]
set_of_numbers = set(numbers)
print(f'{set_of_numbers}')

## Add an element to a set

In [ ]:
set_of_numbers = {1, 2, 3, 4}

set_of_numbers.add(5)
print( set_of_numbers )

set_of_numbers.add(5)
print( set_of_numbers)   # NOTE: Adding the same value twice doesn't add two elements to a set

## Remove elements from a set

In [ ]:
set_of_numbers = {1, 2, 3, 4}

set_of_numbers.remove(4)
print(set_of_numbers)

## Clear a set of numbers

In [ ]:
set_of_numbers = {1, 2, 3, 4}

set_of_numbers.clear()
print(set_of_numbers)

## Union of two sets

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

new_set = set1.union(set2)

print(new_set)

## Intersection of two sets

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

new_set = set1.intersection(set2)

print(new_set)

## Difference of two sets

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(f"set1 - set2 = {set1.difference(set2)}")
print(f"set2 - set1 = {set2.difference(set1)}")

## Test membership

```
# This is formatted as code
```

In [ ]:
names_set = {'Michael', 'George', 'Jeffrey'}

if 'Michael' in names_set:
  print("Michael is in the name set")
else:
  print("Michael is not in the name set")

# Exercise 4

## How many unique items are in this list?

Gernerate a list of 100 random numbers

In [ ]:
from random import randrange

a_list = []
for i in range(100):
  a_list.append(randrange(1, 101))

# BEGIN SOLUTION HERE

# END SOLUTION HERE

# Dictionaries

## Creating a dictionary

In [ ]:
# Create an empty dictionary
dict1 = {}

# Create a dictionary with values
dict2 = {
    "first_name" : 'Michael',
    "second_name" : 'Groner'
}

print(dict1)
print(dict2)

## Add key/value pair to a dictionary

**NOTE: Dictionary keys don't have to be strings, they can be numbers, floats, or any data type

In [ ]:
patient = {
  'first_name' : 'Michael',
  'last_name' : 'Groner'
}

patient['age'] = 50
patient[4] = 'non-sensical key'

print(patient)

## Retrieve value from dictionary

In [ ]:
patient = {
  'first_name' : 'Michael',
  'last_name' : 'Groner',
  'age' : 50
}

# Option 1 - get() function
last_name = patient.get('last_name')
print(f'Patients last name is {last_name}')

# Option 2 - direct calling
first_name = patient['first_name']
print(f'Patient\'s first name is {first_name}')

## Modifying an element in a ditionary

In [ ]:
patient = {
  'first_name' : 'Michael',
  'last_name' : 'Groner',
  'age' : 50
}

patient['age'] = 60

print(patient)

In [ ]:
# BEGIN SOLUTION HERE

# END SOLUTION HERE

## Remove a key/value pair from a dictionary

In [ ]:
patient = {
  'first_name' : 'Michael',
  'last_name' : 'Groner',
  'age' : 50
}

age = patient.pop('age')

print(age)
print(patient)

## Loop over a dictionary

In [ ]:
patient = {
  'first_name' : 'Michael',
  'last_name' : 'Groner',
  'age' : 50
}

# Loop by keys
for key in patient:
  print(key)

In [ ]:
patient = {
  'first_name' : 'Michael',
  'last_name' : 'Groner',
  'age' : 50
}

# Loop by values
for value in patient.values():
  print(value)

In [ ]:
patient = {
  'first_name' : 'Michael',
  'last_name' : 'Groner',
  'age' : 50
}

# Loop by both
for key, value in patient.items():
  print(f'Key: {key}  Value:{value}')

## Check for membership in the dictionary

In [ ]:
patient = {
  'first_name' : 'Michael',
  'last_name' : 'Groner',
  'age' : 50
}

if 'weight' in patient:
  print('The key weight is in the dictionary')
else:
  print('The key weight is not in the dictionary')

# Exercise 5

1. Create a data structure by hand

* Create a dictionary of unique last names which holds a list of family members

* Each family member has a first name, last name, and age in their individual list

* Put multiple families each with multiple members in your list

2. Compute and output the last name of each family along with the average age per family

# Comprehensions

## List Comprehensions

In [ ]:
family = ['Michael', 'Christy', 'Brennen', 'Chloe', 'Kylie']

[name + ' Groner' for name in family]

In [ ]:
family = ['Michael', 'Christy', 'Brennen', 'Chloe', 'Kylie']

[name.upper() for name in family]

## Dictionary Comprehension

In [ ]:
family = [
    ['MSG', 'Michael Groner'],
    ['CAG', 'Chrsity Groner']
]

{ x[0]:x[1] for x in family }

# Exercise 6

Use a comprehension to create a new list with each value of the older list doubled

In [ ]:
old_list = [3, 7, 2, 9, 5]

# BEGIN SOLUTION HERE
new_list = [] # Build your comprehension between the square brackets
# END SOLUTION HERE

print(new_list)