<a href="https://colab.research.google.com/github/paulboal/hds5210-2023/blob/main/week14/module56-merging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Merging DataFrames Together

In this module, we're going to talk about two different types of merging: concatenation and masking

## Concatenation

To "concatenate" means to combine things end-to-end.  That is, we're going to merge together multiple data sets in a way that we just keep appending more rows end-on-end.

In [ ]:
import pandas as pd

# Creating the first DataFrame
data1 = {
    'Patient_ID': [101, 102, 103],
    'Visit_Date': ['2024-12-01', '2024-12-02', '2024-12-03'],
    'Doctor': ['Dr. Smith', 'Dr. Adams', 'Dr. Lee']
}
df1 = pd.DataFrame(data1)

# Creating the second DataFrame
data2 = {
    'Patient_ID': [104, 105],
    'Visit_Date': ['2024-12-04', '2024-12-05'],
    'Doctor': ['Dr. Patel', 'Dr. Johnson']
}
df2 = pd.DataFrame(data2)

# Creating the third DataFrame
data3 = {
    'Patient_ID': [106, 107, 108],
    'Visit_Date': ['2024-12-06', '2024-12-07', '2024-12-08'],
    'Doctor': ['Dr. Carter', 'Dr. Davis', 'Dr. White']
}
df3 = pd.DataFrame(data3)


# Displaying the result
print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)
print("\nDataFrame 3:")
print(df3)

In [ ]:
# Concatenating the DataFrames with keys
concatenated_df = pd.concat([df1, df2, df3])

print("\nConcatenated DataFrame:")
print(concatenated_df)

In [ ]:
# Concatenating the DataFrames with keys
concatenated_df = pd.concat([df1, df2, df3], keys=['Batch1', 'Batch2', 'Batch3'])

print("\nConcatenated DataFrame with Keys:")
print(concatenated_df)

In [ ]:
concatenated_df = concatenated_df.reset_index()

print("\nConcatenated DataFrame with Keys and index reset:")
print(concatenated_df)

# What happens if you try to concatenate dataframes with partially matching columns?

In [ ]:
# Creating the fourth DataFrame with partially matching columns
data4 = {
    'Patient_ID': [106, 107, 108],
    'Doctor': ['Dr. Carter', 'Dr. Davis', 'Dr. White'],
    'Parent': ['Abigal', 'Scott', 'Jeffrey']
}
df4 = pd.DataFrame(data4)

print( pd.concat([df1, df4]))

## Concatenating Side-by-Side

The stacking example above is more common, but it might be interesting to concatenate data side-by-side.

In [ ]:
names1=[['Paul','Boal'],['Anny', 'Monroe'],['Eric','Westhus'],['Andy','Slavitt']]
names2=[['Paul Boal'],['Anny Monroe'],['Eric Westhus'],[''],['Mario Garza']]
n1 = pd.DataFrame(names1, columns=['First','Last'])
n2 = pd.DataFrame(names2, columns=['Full Name'])

In [ ]:
n1

In [ ]:
n2

In [ ]:
pd.concat([n1,n2], axis=1)

## Masking

With "masking", we are taking two data sets and overlaying one ontop of the other.  If the first has values, then those will be kept.  If the first has a blank (NaN), then the underlying value from the next data set will be shown.

In [ ]:
nppes1 = pd.read_csv('https://hds5210-data.s3.amazonaws.com/nppes1.csv')
nppes2 = pd.read_csv('https://hds5210-data.s3.amazonaws.com/nppes2.csv')
nppes1.set_index('NPI', inplace=True)
nppes2.set_index('NPI', inplace=True)

In [ ]:
nppes2.head()

In [ ]:
nppes1['State'].count()

In [ ]:
len(nppes1)

In [ ]:
len(nppes2)

In [ ]:
nppes2

In [ ]:
nppes1[pd.isnull(nppes1['State'])]

In [ ]:
combined = nppes1.combine_first(nppes2)

In [ ]:
combined['State'].count()

In [ ]:
len(nppes1)

In [ ]:
combined.loc[1225590060]

In [ ]:
nppes1.loc[1225590060]